<div class="row light-blue center-xs full-height middle-xs">
	<div class="col-xs-12 col-sm-4">
		<div class="box">
			<h2 class="white-text text-left">¡Suscribete ahora!</h2>
			<div class="top-space text-left white-text">
				<p><strong>Correo electronico </strong>doctorsco.net@gmail.com</p>
				<p><strong>Telefono </strong> 5822-2424</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="box">
			<div class="large-padding white">
				<h3 class="red-text">Informacion de la suscripcion</h3>
				<div class="justify" style="text-align: justify;">
					<p>Al adquirir la suscripcion recibe grandes beneficios como llevar el control de sus 
				pacientes a todas partes, asi como ser encontrado por nuevos clientes.</p>
				<p>Ademas de eso, esta inversion tle ayudara a ser mas eficiente y efectivo en su trabajo
				dandole las herramientas para ahorar tiempo y dinero con la mas alta tecnologia.</p>
				<p>Inscribirse en <strong>DoctorsCo.net</strong> tiene una inversion minima de Q.750/anuales (ésta inversion es facilmente recuperable con un par de pacientes que conseguira desde este mismo sitio, ademas de obtener acceso a una de las mejores herramientas para tener en orden sus consultas
				y poder brindar un servicio moderno, comodo y util para sus pacientes</p>
				<p><strong>Como me suscribo?</strong></p>
				<p>La suscripcion se realiza en tres pasos muy faciles que le detallamo a continuacion</p>
				<p>1-. Escribenos un correo a doctorsco.net@gmail.com con sus datos personales(nombre completo, telefono, email, direccion y especialidad) para generar tu perfil</p>
				<p> 2-. Nosotros le responderemos con el numero de cuenta para que deposite los Q750 de la suscripcion anual </p>
				<p>3-. Mandanos una foto con el deposito e inmediatamente tendra su usuario y <strong>iListo!</strong> usted ya podra ingresar a la 
				aplicacion por <strong>12 MESES</strong></p>
				<%= link_to 'INICIO', root_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
				</div>
			</div>
		</div>
	</div>
</div>