<div class="full-height light-blue row middle-xs center-xs white-text">
	<div class="row center-xs">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<div class="box"> 
				<h1 class="be-bigger special-logo">Bienvenido a <span class="font-logo ">DoctorsCo.com</span></h1>
				<p class="top-space be-medium">La plataforma para la comunidad de medicos en<span class="font-logo"> Guatemala</span></p>
				<p class="white-text be-bigger">
					<i class="fa fa-angle-down">
						
					</i>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="blue-grey center-xs row middle-xs main-padding">
	<div class="col-xs-12 col-sm-1">
		<div class="box white-text prueba text-right">
				<i class="fa fa-drivers-license">
					
				</i>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3 top-space">
		<div class="box white-text">
			<p class="be-medium">
				<strong>Sus consultas en todo lugar, en todo momento</strong>
			</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text">
			<p class="be-small">Lleve el expediente de sus pacientes a todos lados puede revisarlo en su smartphone, tableta y computadora</p>
			<%= link_to 'Iniciar Sesion', new_user_session_path, class: 'mdl-button mdl-button-js mdl-button--raised mdl-button--default white-text' %>
		</div>
	</div>
</div>
<div class="white full-height center-xs row middle-xs main-background">
	<h3 class="white-text">Caracteristicas</h3>
</div>
<div class="green center-xs row middle-xs main-padding">
	<div class="col-xs-12 col-sm-2">
		<div class="box white-text prueba text-right">
				<i class="fa fa-drivers-license">
					
				</i>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3 top-space">
		<div class="box white-text">
			<p class="be-medium">
				<strong>Sus consultas en todo lugar, en todo momento</strong>
			</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="box white-text">
			<p class="be-small">Lleve el expediente de sus pacientes a todos lados puede revisarlo en su smartphone, tableta y computadora</p>
			<%= link_to 'Iniciar Sesion', new_user_session_path, class: 'mdl-button mdl-button-js mdl-button--raised mdl-button--default white-text' %>
		</div>
	</div>
</div>
<div class="white full-height center-xs row middle-xs">
	<h3 class="red-text">Informacion de contacto</h3>
</div>
<div class="black center-xs row middle-xs main-padding">
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text ">
				<p>Logo</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text">
				<p>Caracteristicas</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text">
			<p>Otras apps</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text">
			<p>Redes Sociales</p>
		</div>
	</div>
</div>

