<div class="full-height light-blue row middle-xs center-xs white-text">
	<div class="row center-xs">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<div class="box">
				<h1 class="be-bigger special-logo"><span class="font-logo">DoctorsCo.net</span></h1>
				<p class="top-space be-medium">La plataforma para la comunidad de medicos en<span class="font-logo"> Guatemala</span></p>
				<p class="white-text be-bigger">
					<i class="fa fa-angle-down">

					</i>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="blue-grey center-xs row middle-xs main-padding">
	<div class="col-xs-12 col-sm-1">
		<div class="box white-text prueba text-center">
				<i class="fa fa-drivers-license">

				</i>
		</div>
	</div>
	<div class="col-sm-12 col-lg-3 top-space">
		<div class="box white-text">
			<p class="be-medium">
				<strong>Sus consultas en todo lugar, en todo momento</strong>
			</p>
		</div>
	</div>
	<div class="col-sm-12 col-lg-3 col-lg-3">
		<div class="box white-text">
			<p class="be-small">Lleve el expediente de sus pacientes a todos lados puede revisarlo en su smartphone, tableta y computadora</p>
			<%= link_to 'Iniciar Sesion', new_user_session_path, class: 'mdl-button mdl-button-js mdl-button--raised mdl-button--default white-text' %>
		</div>
	</div>
</div>
<div class="white main-background center-xs text-center ">
	<div class="row center-xs">
		<h3 class="white-text">Caracteristicas</h3>
	</div>
	<div class="row center-xs">
		<div class="col-xs-12">
			<div class="box">
				<div class="row center-xs">
					<div class="col-xs-12 col-sm-3 bottom-space">
						<div class="box">
							<div class="demo-card-wide mdl-card mdl-shadow--2dp">
								<div class="mdl-card__title adaptable">
									<h2 class="mdl-card__title-text">Adaptable</h2>
								</div>
								<div class="mdl-card__supporting-text">
									Revise el historial medico de sus pacientes en todo lugar, a todo momento
									y desde cualquier dispositivo.
								</div>
								<div class="mdl-card__actions mdl-card--border">
									<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
										Get Started
									</a>
								</div>
								<div class="mdl-card__menu">

								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 bottom-space">
						<div class="box">
							<div class="demo-card-wide mdl-card mdl-shadow--2dp">
								<div class="mdl-card__title consultas">
									<h2 class="mdl-card__title-text">Consultas</h2>
								</div>
								<div class="mdl-card__supporting-text">
									Guarde las consultas de sus pacientes de una forma digital que le
									permitira revisarlo de una forma rapida y segura
								</div>
								<div class="mdl-card__actions mdl-card--border">
									<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
										Get Started
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 bottom-space">
						<div class="box">
							<div class="demo-card-wide mdl-card mdl-shadow--2dp">
								<div class="mdl-card__title perfil">
									<h2 class="mdl-card__title-text">Perfil</h2>
								</div>
								<div class="mdl-card__supporting-text">
									Tendra un perfil personalizable para que pueda llegar a mas pacientes, por medio de la plataforma y tambien por las redes sociales

								</div>
								<div class="mdl-card__actions mdl-card--border">
									<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
										Get Started
									</a>
								</div>
								<div class="mdl-card__menu">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="white full-height text-center">
	<div class="row center-xs">
		<h2 class="red-text">Plan de suscripcion</h2>
	</div>
	<div class="row center-xs top-space middle-xs">
		<div class="col-xs-12 col-lg-6">
			<div class="box light-blue">
				<div class="top-space">
					<h2 class="white-text suscripcion-titulo">Q550.00 mensuales</h2>
				</div>
				<div class="row center-xs big-padding">
					<div class="col-xs-12 col-sm-8">
						<div class="box">
							<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
								<thead>
									<tr>
										<th>Nuestros usuarios reciben exclusivos beneficios al suscribirse tales como:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Control de historial medico y consultas de sus pacientes</td>
									</tr>
									<tr>
										<td>Directorio para encontrar y ser encontrado por nuevos pacientes</td>
									</tr>
									<tr>
										<td>Manejo sobre su citas y consultas con fecha, hora y avisos.</td>
									</tr>
									<tr>
										<td>Poder proponer mejoras para la plataforma junto a la comunidad</td>
									</tr>
									<tr>
										<td>Y muchos beneficios mas, con mejoras mensuales y soporte gratuito</td>
									</tr>
								</tbody>
							</table>
							<div class="top-space">
								<%= link_to 'Suscribirme ahora', home_suscribe_url, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent white-text' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="green center-xs row middle-xs main-padding">
	<div class="col-xs-12 col-sm-2">
		<div class="box white-text prueba text-center">
				<i class="fa fa-location-arrow">

				</i>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3 top-space">
		<div class="box white-text">
			<p class="be-medium">
				<strong>Sea encontrado por nuevos pacientes</strong>
			</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="box white-text">
			<p class="be-small">Usted podra captar nuevos pacientes y ser encontrado por mas personas, haciendo crecer sus ingresos y su circulo de contactos con
			nuestra seccion de directorio</p>
			<%= link_to 'Suscribirme ahora', new_user_session_path, class: 'mdl-button mdl-button-js mdl-button--raised mdl-button--default white-text' %>
		</div>
	</div>
</div>
<div class="row red center-xs full-height middle-xs">
	<div class="col-xs-12 col-sm-4">
		<div class="box">
			<h3 class="white-text text-left">Informacion de contacto</h3>
			<div class="top-space text-left white-text">
				<p><strong>Correo electronico </strong>doctorsco.net@gmail.com</p>
				<p><strong>Telefono </strong> 5822-2424</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 top-space">
		<div class="box">
			<div class="big-padding white">
				<h3 class="red-text">Envianos un correo</h3>
				<%= render 'contacts/form'%>
			</div>
		</div>
	</div>
</div>
<div class="black center-xs row middle-xs main-padding">
	<div class="last-xs first-sm col-xs-12 col-sm-3">
		<div class="box white-text">
			<h2 class="white-text font-logo">DoctorsCo.net</h2>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text justify">
				<p class="light-blue-text"><strong>Contacto</strong></p>
				<ul class="no-list">
					<li><strong>Telefono: </strong>5822-2424</li>
					<li></li>
					<li></li>
				</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text">
			<p class="light-blue-text"><strong>By</strong></p>
			<ul class="no-list">
				<li><p>
					LoadingCo®️
				</p></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="box white-text">
			<p class="light-blue-text"><strong>Redes Sociales</strong></p>
			<a href="https://www.facebook.com/doctorsCo/" target="_blank" class="white-text">
				<i class="fa fa-facebook-square redes">
				</i>
			</a>
			<a href="https://www.twitter.com" target="_blank" class="white-text">
				<i class="fa fa-twitter-square redes">
				</i>
			</a>
			<a href="https://www.instagram.com/doctors_co/" target="_blank" class="white-text">
				<i class="fa fa-instagram redes">
				</i>
			</a>
		</div>
	</div>
</div>
