.demo-card-wide.mdl-card {
	
}
.demo-card-wide > .mdl-card__title {
	color: white;
	height: 176px;
}
.consultas {
	background: url(#{asset_path('consultas.png')}) center / cover;
}
.perfil {
	background: url(#{asset_path('perfil.png')}) center / cover;
}
.adaptable {
	background: url(#{asset_path('prueba.png')}) center / cover;
}
.demo-card-wide > .mdl-card__menu {
	color: white;
}
.logo{
	max-height: 100%;
	max-width: 100%;
}
.redes{
	font-size: 2.2em !important;
	margin-right: 10px;
}
.no-decoration{
	text-decoration:none !important;
}
.no-list{
	list-style: none;
}
.bottom-space{
	margin-bottom: 3em;
}
.mdl-card__media{
	background-color: none !important;
}
.suscripcion-titulo{
	padding: 1em 0 0 0;
}
.large-padding{
	padding: 6px 12px;
}
